/* For mobile phones: */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #191718;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding: 0.3rem 0;
  color: #aaaaaa;
  border-bottom: 1px solid #5c5c5c;
}

li a.active {
  color: white;
  font-weight: 700;
}

li a:hover {
  background-color: #5c5c5c;
  color: white;
  font-weight: 700;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */

  li {
    float: left;
  }

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 1rem 2rem;
  }
}

/* For desktop: */

@media only screen and (min-width: 1000px) {
  .sidebar-container {
    width: 20%;
    float: left;
    background-color: #191718;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
  }

  li {
    float: none;
  }

  li a {
    display: block;
    text-decoration: none;
    text-align: left;
  }
}
